<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestHelperXPC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TestXPCApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TestXPCService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>snagitd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D52283F91E3BDED7003A9378</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D52284111E3BDEF2003A9378</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D522842B1E3BF589003A9378</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D52B95EC1E43B43C007A0CEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
